body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #8E80A9;
    /* font-family: 'Francois One', sans-serif; */
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: inherit;
    text-align: center;
}

/* HEADER */

.first-screen {
    position: relative;
    background-image: url(../img/bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-screen::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.header {
    padding-top: 50px;
    padding-bottom: 100px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__menu-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.header__menu-item-link,
.header__menu-phone {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0px 0px 10px #ECE7EC;
}
.header__menu-phone {
    font-weight: 400;
}
.header__menu-item-link::before,
.header__menu-phone::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    left: 0;
    top: 4px;
    opacity: 0;
    transition: left .7s, opacity .7s;
}

.header__menu-item-link:hover::before,
.header__menu-phone:hover::before {
    left: -20px;
    opacity: 1;
}

/* PROMO */

.promo {
    padding-bottom: 187px;
}

.promo__subtitle {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 45px;
    line-height: normal;
    margin-left: 160px;
}
.promo__title {
    font-weight: 500;
    font-size: 265px;
    line-height: 265px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-shadow: 0px 0px 50px rgba(123, 121, 161, 0.75);
    margin-left: 160px;
}
.promo__btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 210px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #E65C7B;
    text-decoration: none;
    z-index: 0;
    margin-bottom: 120px;
}
.promo__btn::before {
    z-index: 1;
    position: absolute;
    content: '';
    width: 56px;
    height: 48px;
    top: -3px;
    left: -70px;
    background-color: #E65C7B;
}
.promo__btn::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    left: -49px;
    top: 16px;
    z-index: 1;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
.promo__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promo__social-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.promo__links-city {
    font-size: 16px;
    line-height: 15px;
}

/* LESSONS */

.lessons {
    position: relative;
    margin-bottom: 51px;
    background-color: #fff;
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counter-clockwise {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

.lessons::before,
.lessons::after {
    position: absolute;
    content: '';
    background-image:url(../img/flower.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 390px;
    height: 390px;
    z-index: 0;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.lessons::before {
    animation-name: rotate-clockwise;
    top: -20px;
    right: 0;
}
.lessons::after {
    animation-name: rotate-counter-clockwise;
    bottom: -105px;
    right: 0;
}

.lessons__title {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.lessons__list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width: 70%;
    height: 630px;
    margin-left: auto;
    margin-right: auto;
}
.lessons__list::before {
    position: absolute;
    content: '';
    background-image:url(../img/flower.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 903px;
    height: 903px;
    top: -135px;
    left: -45px;
    z-index: 0;
    animation-name: rotate-clockwise;
    animation-duration: 200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.lessons__item {
    width: 250px;
    height: 300px;
}
.lessons__item:nth-child(1),
.lessons__item:nth-child(4) {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lessons__item-box {
    position: relative;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    transition: transform .7s;
}
.lessons__item-box:hover {
    transform: scale(1.2);
    z-index: 10;
}
.lessons__item-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.lessons__item-info {
    padding: 20px;
    background-color: #fff;
}
.lessons__item-title {
    text-align-last: left;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 10px;
}
.lessons__item-shedule {
    font-size: 12px;
    line-height: 20px;
}
.lessons__item-shedule:nth-last-child(3) {
    margin-bottom: 15px;
}
.lessons__item-instructor {
    font-size: 12px;
    line-height: 15px;
    color: #E65C7B;
}