body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #8E80A9;
    /* font-family: 'Francois One', sans-serif; */
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: inherit;
    text-align: center;
}

.burger-box {
    margin-left: auto;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    border: 2px solid #fff;
    transition: border-color .7s;
}

.burger-menu {
    top: 17px;
    left: 7px;
    height: 3px;
    width: 23px;
    background-color: #fff;
    border-radius: 3px;
    margin: auto 0;
    position: relative;
    transition: all .7s;
}

.burger-menu::before,
.burger-menu::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 23px;
    background-color: #fff;
    border-radius: 3px;
    transition: all .7s;
}

.burger-box .burger-menu.active {
    background-color: transparent;
}

@keyframes rotate-clockworth {
    0% {transform: rotate(0);}
    70% {transform: rotate(0);}
    100% {transform: rotate(45deg);}
}

@keyframes rotate-counterclockworth {
    0% {transform: rotate(0);}
    70% {transform: rotate(0);}
    100% {transform: rotate(-45deg);}
}

.burger-menu.active::before {
    top: 0;
    animation: rotate-clockworth 1s forwards;
}

.burger-menu.active::after {
    top: 0;
    animation: rotate-counterclockworth 1s forwards;
}

.burger-menu::before {
    top: -8px;
}

.burger-menu::after {
    top: 8px;
}

/* HEADER */

.first-screen {
    position: relative;
    background-image: url(../img/bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-screen::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.header {
    padding-top: 50px;
    padding-bottom: 100px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__menu-list {
    display: flex;
    gap: 0 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.header__menu-item-link,
.header__menu-phone {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0px 0px 10px #ECE7EC;
}
.header__menu-phone {
    font-weight: 400;
}
.header__menu-item-link::before,
.header__menu-phone::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    left: 0;
    top: 4px;
    opacity: 0;
    transition: left .7s, opacity .7s;
}

.header__menu-item-link:hover::before,
.header__menu-phone:hover::before {
    left: -20px;
    opacity: 1;
}

.header-icon-box {
    display: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: border-color .7s;
}

.header-icon {
    width: 23px;
    height: 23px;
    transition: fill .7s;
    fill: #fff;
}

/* PROMO */

.promo {
    padding-bottom: 187px;
}

.promo__subtitle {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 45px;
    line-height: normal;
    margin-left: 160px;
}
.promo__title {
    font-weight: 500;
    font-size: 265px;
    line-height: 265px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-shadow: 0px 0px 50px rgba(123, 121, 161, 0.75);
    margin-left: 160px;
}
.promo__btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 210px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #E65C7B;
    text-decoration: none;
    z-index: 0;
    margin-bottom: 120px;
}
.promo__btn::before {
    z-index: 1;
    position: absolute;
    content: '';
    width: 56px;
    height: 48px;
    top: -3px;
    left: -70px;
    background-color: #E65C7B;
}
.promo__btn::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    left: -49px;
    top: 16px;
    z-index: 1;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    transition: transform 1s;
}
.promo__btn:hover::after {
    transform: rotate(-45deg) scale(1.5);
}
.promo__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promo__social-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.promo__links-city {
    font-size: 16px;
    line-height: 15px;
}

/* LESSONS */

.lessons {
    position: relative;
    margin-bottom: 51px;
    background-color: #fff;
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counter-clockwise {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

.lessons::before,
.lessons::after {
    position: absolute;
    content: '';
    background-image:url(../img/flower.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 390px;
    height: 390px;
    z-index: 0;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.lessons::before {
    animation-name: rotate-clockwise;
    top: -20px;
    right: 0;
}
.lessons::after {
    animation-name: rotate-counter-clockwise;
    bottom: -105px;
    right: 0;
}

.lessons__title {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.lessons__list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width: 812px;
    height: 630px;
    margin-left: auto;
    margin-right: auto;
}
.lessons__list::before {
    position: absolute;
    content: '';
    background-image:url(../img/flower.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 903px;
    height: 903px;
    top: -135px;
    left: -45px;
    z-index: 0;
    animation-name: rotate-clockwise;
    animation-duration: 200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.lessons__item {
    width: 250px;
    height: 300px;
}
.lessons__item:nth-child(1),
.lessons__item:nth-child(4) {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lessons__item-box {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    transition: transform .7s;
}
.lessons__item-box:hover {
    transform: scale(1.2);
    z-index: 10;
}
.lessons__item-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.lessons__item-info {
    padding: 20px;
    background-color: #fff;
}
.lessons__item-title {
    text-align-last: left;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 10px;
}
.lessons__item-shedule {
    font-size: 12px;
    line-height: 20px;
}
.lessons__item-shedule:nth-last-child(3) {
    margin-bottom: 15px;
}
.lessons__item-instructor {
    font-size: 12px;
    line-height: 15px;
    color: #E65C7B;
}

/* SUBSCRIPTIONS */

.subscription {
    position: relative;
    margin-bottom: 120px;
}

.subscription::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    content: '';
    background-image: url(../img/clouds.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.subscription__title {
    margin-bottom: 60px;
}

.subscription__duration-list {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.subscription__duration-link {
    text-decoration-color: transparent;
    font-size: 12px;
    line-height: 20px;
    color: #E65C7B;
    transition: text-decoration-color .7s;
}

.subscription__duration-link:hover {
    text-decoration-color: #E65C7B;
}

.subscription__duration-link.active {
    text-decoration: underline;
}

.subscription__price-list {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.subscription__price-item {
    padding: 58px 21px 25px;
    width: 265px;
    min-height: 287px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.subscription__price-item:nth-child(2) {
    order: 1;
}

.subscription__price-item:nth-child(3) {
    padding: 63px 39px 20px;
    width: 300px;
    height: 331px;
}

.subscription__price-item--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 19px;
}

.subscription__price-item:nth-child(3) .subscription__price-item--title {
    font-size: 30px;
}

.subscription__price-item--restrictions {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #E65C7B;
}

.subscription__price-item--restrictions+.subscription__price-item--restrictions {
    margin-bottom: 26px;
}

.subscription__price-item:nth-child(3) .subscription__price-item--restrictions+.subscription__price-item--restrictions {
    margin-bottom: 38px;
}

.subscription__price-item--price {
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 27px;
}

.subscription__price-item:nth-child(3) .subscription__price-item--price {
    margin-bottom: 51px;
}

.subscription__price-item--btn {
    position: relative;
    z-index: 0;
    display: block;
    text-decoration: none;
    padding: 19px 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #8E80A9;
    transition: padding-right .7s;
}

.subscription__price-item--btn::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    right: 40px;
    top: 43%;
    z-index: 1;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    transition: all .7s;
    opacity: 0;
}

.subscription__price-item--btn:hover {
    padding-right: 40px;
}

.subscription__price-item--btn:hover::after {
    transform: rotate(-45deg) translate(100%, 100%);
    opacity: 1;
}

/* INSTRUCTORS */

.instructors {
    position: relative;
    margin-bottom: 120px;
}

.instructors::before {
    position: absolute;
    content: '';
    width: 1863px;
    height: 1662px;
    top: -281px;
    left: -1152px;
    z-index: -1;
    background-image: url(../img/instr-decor.svg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: rotate-clockwise;
    animation-duration: 1000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.instructors::after {
    position: absolute;
    content: '';
    width: 576px;
    height: 514px;
    top: -70px;
    right: 30px;
    z-index: -1;
    background-image: url(../img/instr-decor.svg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: rotate-counter-clockwise;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.instructors__title {
    margin-bottom: 60px;
}

.instructors__slider-item {
    max-width: 1010px;
    max-height: 335px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity .3s;
    display: none;
}
.instructors__slider-item.active {
    display: flex;
    opacity: 1;
}
.instructors__slider-img {
    width: 335px;
    object-fit: cover;
}
.instructors__slider-info {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}
.instructors__subtitle {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
}
.instructors__experience {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #E65C7B;
    margin-bottom: 25px;
}
.instructors__text {
    flex-basis: 100%;
}
.instructors__text+.instructors__text {
    margin-top: 20px;
}

.instructors__controls {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.instructors__controls-left,
.instructors__controls-right,
.reviews__controls-left,
.reviews__controls-right {
    position: relative;
    cursor: pointer;
    padding: 10px 25px;
    height: 30px;
    border: 1px solid #8E80A9;
    background-color: #fff;
    transition: background-color .7s;
}
.reviews__controls-left,
.reviews__controls-right {
    position: absolute;
    bottom: -40px;
    transform-origin: 0 0;
}
.reviews__controls-left {
    transform: translateX(-80%);
}
.reviews__controls-right {
    transform: translateX(80%);
}
.instructors__controls-left:hover,
.instructors__controls-right:hover,
.reviews__controls-left:hover,
.reviews__controls-right:hover  {
    background-color: #8E80A9;
}
.instructors__controls-left::after,
.instructors__controls-right::after,
.reviews__controls-left:after,
.reviews__controls-right:after  {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    z-index: 1;
    border-right: 1px solid #8E80A9;
    border-bottom: 1px solid #8E80A9;
    transition: border-color .7s;
}
.instructors__controls-left:hover::after,
.instructors__controls-right:hover::after,
.reviews__controls-left:hover::after,
.reviews__controls-right:hover::after  {
    border-color: #fff;
}
.instructors__controls-left::after,
.reviews__controls-left:after {
    transform: translate(-30%, -50%) rotate(-225deg);
}
.instructors__controls-right::after,
.reviews__controls-right:after {
    transform: translate(-70%, -50%) rotate(-45deg);
}

.instructors__min-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.instructors__min-item {
    cursor: pointer;
}
.instructors__min-img {
    max-height: 125px;
    object-fit: cover;
}

/* GALLERY */

.gallery {
    margin-bottom: 90px;
}

.gallery__title {
    margin-bottom: 30px;
}

.gallery__list {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #F0EBF9;
    /* -webkit-filter: blur(3px); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1090px;
    gap: 10px;
}

.gallery__item-img {
    max-height: 200px;
    object-fit: cover;
}

/* REVIEWS */

.reviews {
    margin-bottom: 65px;
}

.reviews__title {
    margin-bottom: 62px;
}

.reviews__slider {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    margin-bottom: 26px;
}

.reviews__item {
    margin-right: 30px;
    margin-left: 28px;
    position: relative;
    width: 442px;
    height: 315px;
    padding: 72px 42px 30px 87px;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.reviews__item::before {
    position: absolute;
    left: 90px;
    top: 55px;
    content: '“';
    font-family: 'Francois One', sans-serif;
    font-size: 80px;
}

.reviews__item-text {
    margin-bottom: 22px;
}

.reviews__item-author {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 60px;
    width: fit-content;
}

.reviews__item-author-img {
    max-width: 60px;
    flex-basis: 100%;
    object-fit: cover;
    margin-right: 10px;
}

.reviews__item-author-name {
    color: rgba(230, 92, 123, 0.7);
}

.reviews__item-author-date {
    font-size: 10px;
    color: rgba(142, 128, 169, 0.7);
}

.reviews__item-author-social-list {
    display: flex;
    gap: 10px;
}

.reviews__item-author-social-item-link {
    text-decoration: none;
}

.reviews__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.slick-list {
    max-width: 946px;
    padding: 25px 0;
}

.slick-initialized .slick-slide {
    display: flex;
}
/* CONTACTS */

.contacts {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.contacts__list {
    max-width: 380px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 51px;
}

.contacts__item {
    width: 161px;
}

.contacts__item-termin {
    font-size: 14px;
}
.contacts__item-description {
    font-size: 12px;
}
.contacts__item-link {
    text-decoration: none;
    color: inherit;
}

.contacts__form {
    max-width: 450px;
}
.contacts__title {
    margin-bottom: 60px;
}

.contacts__form-input {
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid #8E80A9;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #000;
    margin-bottom: 73px;
}

::-webkit-input-placeholder {
    color: rgba(142, 128, 169, 0.4);
}
:-moz-placeholder {
    color: rgba(142, 128, 169, 0.4);
}
::-moz-placeholder {
    color: rgba(142, 128, 169, 0.4);
}
:-ms-input-placeholder {
    color: rgba(142, 128, 169, 0.4);
}
::-ms-input-placeholder {
    color: rgba(142, 128, 169, 0.4);
}
::placeholder {
    color: rgba(142, 128, 169, 0.4);
}

.contacts__form-btn {
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    padding: 18px;
    border:none;
    background-image:none;
    background-color: #E65C7B;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    transition: padding-right .7s;
}

.contacts__form-btn::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    right: 40px;
    top: 43%;
    z-index: 1;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    transition: all .7s;
    opacity: 0;
}

.contacts__form-btn:hover {
    padding-right: 40px;
}

.contacts__form-btn:hover::after {
    transform: rotate(-45deg) translate(100%, 100%);
    opacity: 1;
}

/* FOOTER */

.footer {
    padding-top: 30px;
    padding-bottom: 75px;
    background: #8373A1;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1200px) {
    .promo__subtitle,
    .promo__title {
        margin-left: 0;
        text-align: center;
    }
    .lessons::before,
    .lessons::after {
        opacity: 0.25;
    }
    .lessons__list::before {
        opacity: 0.4;
    }
}

@media (max-width: 1100px) {
    .header-icon-box {
        display: flex;
    }
    .header__menu-phone {
        display: none;
    }
    .promo__title {
        font-size: 205px;
        line-height: 205px;
    }

    .reviews__item {
        height: fit-content;
    }
}

@media (max-width: 850px) {
    .header {
        padding-top: 0;
    }
    .lessons::before,
    .lessons::after {
        right: unset;
        left: 30px;
    }
    .lessons__list {
        max-width: 530px;
    }
    .lessons__list::before {
        display: none;
    }
    .lessons__item:nth-child(1),
    .lessons__item:nth-child(4) {
        flex-basis: unset;
    }
    .subscription__price-list {
        flex-wrap: wrap;
    }
    .subscription__price-item:nth-child(2) {
        order: 0;
    }
    .instructors::before {
        display: none;
    }
    .instructors::after {
        left: 0;
    }
    .reviews__title {
        margin-bottom: 0;
    }
    .contacts__list {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .header__menu-list {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px 20px;
        border-radius: 5px;
        left: 36px;
        right: 20px;
        top: 120px;
        opacity: 0;
        transition: all .7s;
        z-index: -1;
    }
    .header__menu-list.active {
        opacity: 1;
        z-index: 1;
        top: 150px;
    }
    .burger-box {
        display: block;
    }
    .promo__subtitle {
        font-size: 38px;
    }
    .promo__title {
        font-size: 165px;
        line-height: 165px;
    }
    .lessons::before,
    .lessons::after,
    .instructors::after {
        height: 210px;
        width: 210px;
    }
    .instructors__slider-img {
        width: 220px;
    }
    .gallery__list {
        flex-wrap: nowrap;
        justify-content: start;
        padding: 30px 0;
        overflow-x: scroll;
    }
}

@media (max-width: 630px) {
    .promo__subtitle {
        font-size: 30px;
    }
    .promo__title {
        font-size: 90px;
        line-height: 110px;
    }
    .subscription__price-item:nth-child(3) {
        width: 265px;
        height: unset;
        min-height: 287px;
        padding: 58px 21px 25px;
    }
    .subscription__price-item:nth-child(3) .subscription__price-item--title {
        font-size: 18px;
    }
    .subscription__price-item:nth-child(3) .subscription__price-item--restrictions+.subscription__price-item--restrictions {
        margin-bottom: 26px;
    }
    .subscription__price-item:nth-child(3) .subscription__price-item--price {
        margin-bottom: 27px;
    }
    .contacts__inner {
        flex-wrap: wrap-reverse;
    }
    .contacts__list {
        flex-direction: row;
        max-width: 250px;
    }
    .contacts__item {
        width: 115px;
    }
    .contacts__item:nth-last-child(1) {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .promo__social-list {
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .lessons__list {
        flex-wrap: wrap;
        height: unset;
        width: unset;
        max-width: unset;
        align-items: center;
    }
    .instructors__slider-item {
        flex-direction: column;
        max-height: unset;
        align-items: center;
    }
    .instructors__slider-img {
        width: 100%;
    }
    .instructors__min-list {
        flex-wrap: wrap;
        gap: 15px;
    }
    .instructors__min-img {
        max-height: 90px;
    }
}

@media (max-width: 450px) {
    .header__menu {
        gap: 15px;
    }
    .header__menu-list {
        flex-direction: column;
        left: unset;
        gap: 15px;
    }
    .promo__title {
        font-size: 80px;
    }
    .promo__btn {
        padding-left: 60px;
    }
    .promo__btn::before {
        left: -20px;
        top: 5px;
    }
    .promo__btn::after {
        left: 0;
        top: 23px;
    }
    .reviews__item {
        padding: 72px 20px 30px;
    }
    .reviews__item::before {
        left: 22px;
    }
}